<% if current_user %>
  <%= form_tag post_my_weight_path do %>
    <%= text_field_tag 'weight', nil, placeholder: '体重を入力してください' %>
    <%= submit_tag '体重をつぶやく' %>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
